.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
  align-items: center;
  margin: 5%;
}
.home h1 {
  font-size: 50px;
  font-weight: 800;
  color: #6047ec;
}
.home span {
  color: tomato;
}
.reviews {
  font-size: 40px;

  font-weight: 600;
}
